@model Gym.MVC.Models.HorariosClasesModel
    

<div class="col-md-12 ">
    <table class="table table-active table-bordered table-hover table-dark">
        <thead>

            <tr>
                <td></td>
                <td>Lunes</td>
                <td>Martes</td>
                <td>Miercoles</td>
                <td>Jueves</td>
                <td>Viernes</td>
                <td>Sabado</td>
            </tr>
        </thead>
        <tbody>
            @for (int hora = 8; hora <= 23; hora++)
            {
                <tr>
                    <td>@hora HS</td>
                    <td>
                        @if (@Model.Horarios.Where(x => x.Inicio.Hour == hora && x.Inicio.DayOfWeek == DayOfWeek.Monday).FirstOrDefault() != null)
                        {
                            @Model.Horarios.Where(x => x.Inicio.Hour == hora && x.Inicio.DayOfWeek == DayOfWeek.Monday).FirstOrDefault().Actividad
                        }
                    </td>
                    <td>
                        @if (@Model.Horarios.Where(x => x.Inicio.Hour == hora && x.Inicio.DayOfWeek == DayOfWeek.Tuesday).FirstOrDefault() != null)
                        {
                            @Model.Horarios.Where(x => x.Inicio.Hour == hora && x.Inicio.DayOfWeek == DayOfWeek.Tuesday).FirstOrDefault().Actividad
                        }
                    </td>
                    <td>
                        @if (@Model.Horarios.Where(x => x.Inicio.Hour == hora && x.Inicio.DayOfWeek == DayOfWeek.Wednesday).FirstOrDefault() != null)
                        {
                            @Model.Horarios.Where(x => x.Inicio.Hour == hora && x.Inicio.DayOfWeek == DayOfWeek.Wednesday).FirstOrDefault().Actividad
                        }
                    </td>
                    <td>
                        @if (@Model.Horarios.Where(x => x.Inicio.Hour == hora && x.Inicio.DayOfWeek == DayOfWeek.Thursday).FirstOrDefault() != null)
                        {
                            @Model.Horarios.Where(x => x.Inicio.Hour == hora && x.Inicio.DayOfWeek == DayOfWeek.Thursday).FirstOrDefault().Actividad
                        }
                    </td>
                    <td>
                        @if (@Model.Horarios.Where(x => x.Inicio.Hour == hora && x.Inicio.DayOfWeek == DayOfWeek.Friday).FirstOrDefault() != null)
                        {
                            @Model.Horarios.Where(x => x.Inicio.Hour == hora && x.Inicio.DayOfWeek == DayOfWeek.Friday).FirstOrDefault().Actividad
                        }
                    </td>
                    <td>
                        @if (@Model.Horarios.Where(x => x.Inicio.Hour == hora && x.Inicio.DayOfWeek == DayOfWeek.Saturday).FirstOrDefault() != null)
                        {
                            @Model.Horarios.Where(x => x.Inicio.Hour == hora && x.Inicio.DayOfWeek == DayOfWeek.Saturday).FirstOrDefault().Actividad
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>
