<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-image: linear-gradient(to bottom right, darkseagreen, darkgreen); background-color:darkseagreen">

    <div class="navbar navbar-dark navbar-collapse navbar-nav navbar-expand-xl fixed-top" style="background-image: linear-gradient(to bottom right, darkgreen, darkseagreen)">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">My Gym</a>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <div id="div_carga" hidden>
        <div class="overlay">
            <div class="overlayContent" style="width: 382px">
                <img src="~/Imagenes/wait.gif" alt="Loading" border="1" /><h2 class="text-center">Procesando Solicitud...</h2>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            inicializarDataTables();
        }).ajaxStart(function () {
            $('#div_carga').removeAttr('hidden');
            $('#div_carga').show();
        }).ajaxStop(function () {
            $('#div_carga').hide();
            $('.selectpicker').selectpicker('refresh');
        })
    </script>
</body>
</html>
