<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/initDataTables.js"></script>
    <script src="~/Scripts/toggles.js"></script>
</head>
<body style="background-image: linear-gradient(to bottom right, darkseagreen, darkgreen); background-color:darkseagreen">

    <div class="navbar navbar-dark navbar-collapse navbar-nav navbar-expand-xl fixed-top" style="background-image: linear-gradient(to bottom right, darkgreen, darkseagreen)">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">My Gym</a>
            </div>
        </div>
    </div>

    <div id="myCarousel" class="carousel slide w-100" style="max-height:800px; top" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner w-100" style="max-height:800px" role="listbox">

            <div class="carousel-item active" style="max-height:800px">
                <img class="d-flex align-items-center justify-content-center w-100" style="max-height:500px" src="~/Imagenes/1.jpg">
                <div class="carousel-caption">
                    <h3>Tu Gimnasio</h3>
                </div>
            </div>

            <div class="carousel-item " style="max-height:800px">
                <img class="d-flex align-items-center justify-content-center w-100" style="max-height:500px" src="~/Imagenes/2.jpeg">
                <div class="carousel-caption">
                    <h3>Tu lugar</h3>
                </div>
            </div>

            <div class="carousel-item" style="max-height:800px">
                <img class="d-flex align-items-center justify-content-center w-100" style="max-height:500px" src="~/Imagenes/3.jpg">
                <div class="carousel-caption">
                    <h3>Tu Espacio</h3>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previus</span>
        </a>

        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <div id="div_carga" hidden>
        <div class="overlay">
            <div class="overlayContent" style="width: 382px">
                <img src="~/Imagenes/wait.gif" alt="Loading" border="1" /><h2 class="text-center">Procesando Solicitud...</h2>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            inicializarDataTables();
        }).ajaxStart(function () {
            $('#div_carga').removeAttr('hidden');
            $('#div_carga').show();
        }).ajaxStop(function () {
            $('#div_carga').hide();
            $('.selectpicker').selectpicker('refresh');
        })
    </script>
</body>
</html>
